<!--Navbar-->
<div class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar" id="main-nav">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="{% url 'landing_index' %}">A<strong>WWW</strong>ARDS</a>
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <form id = "search-form" class="form-inline" role="search" action="{% url 'search_results' %}">
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" name = "website" placeholder="Find a project" aria-label="Search">
                </div>
            </form>
            {% if user.is_authenticated %}
            <li class="nav-item">
                    <a class="nav-link avatar text-capitalize" href="{% url 'profile' user.username user.id %}">
                            {{ user.username }} 
                            {% if user.profile.image.url %}
                            &nbsp; 
                            <img src="{{ user.profile.image.url }}" class="rounded-circle z-depth-0" alt="avatar image"
                            height="25">
                            {%endif%}
                    </a>
                </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
            </li>
            {% endif %}
        </ul>
        <!-- Links -->
    </div>
    <!-- Collapsible content -->
</div>
<!--/.Navbar-->