body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover;
    overflow: hidden;
}
.form-group{
    width: 95%;
    margin: 0 auto;
}
@media screen and (max-width: 992px){
    body{
    overflow-y: auto;
    height: auto;
    }
}